@font-face {
  font-family: "Poppins", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
}

@font-face {
  font-family: "lemonade display";
  src: url(../../Angel-Lemona_Demo.ttf);
}

@font-face{
    font-family: 'Dancing Script', sans-serif; 
    src: url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap')
}

@font-face{
    font-family: 'Dancing Script', sans-serif; 
    src: url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap')
}

.texto {
  font-family: "lemonade display", sans-serif;
  color: #033043;
}

.texto-cor {
  color: #033043;
}

main, header{
    background-color: #F2EFE6;
}

main {
    padding-top: 30px; 
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px);
    background-color: #F2EFE6;
  }
  
  header {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);  
    background-color: #F2EFE6  ;
  }
  
  .conteudo {
    width: 500px;
    margin-top: 20px;
  }
  .botao-azul{
    background-color: #0A7273;
    color: #e9e3d5;
  }

.botao-azul:hover {
  background-color: #fda521;
  color: #033043;
}

.botao-amarelo {
  background-color: #fda521;
  color: #033043;
}

.botao-amarelo:hover {
  background-color: #fda521;
  color: #033043;
}

  footer {
    background-color: #033043; 
    color:#033043; 
}

#titulo{
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    font-family: 'lemonade display', sans-serif;
    color: #033043;
    margin-top: 50px;

}


#input-box {
  width: 100%;
  margin-top: 20px;
}

#input-box label {
  color: #333;
}

#input-box input {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}

#coluna{
    display: flex;
    column-gap: 10px;
}

#gender-box {
  margin-top: 20px;
}

#opcao-genero {
  display: flex;
  column-gap: 50px;
  align-items: center;
  flex-wrap: wrap;
}

#genero {
  column-gap: 5px;
  cursor: pointer;
  flex-wrap: wrap;
}

#genero input {
  cursor: pointer;
  accent-color: #0a7273;
}

#genero label {
  cursor: pointer;
}

#titulo-genero{
  color: #333;
   font-size:  1rem ;
  margin-bottom: 8px;
}

#endereco {
  display: flex;
  margin-top: 15px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px);
}

.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  margin-top: 6px;
  cursor: pointer;
  border-radius: 6px;
  background-color: #0a7273;
  justify-content: center;
  align-items: center;
}

.form button:hover {
  background-color: #539c9d;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

.conteudo {
  width: 500px;
  margin-top: 60px;
}

.site-header {
  position: relative;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#span-senha {
  position: absolute;
  right: 40px;
  transform: translate(0, -50%);
  top: 90%;
  cursor: pointer;
}

#span-senha-senha {
  position: absolute;
  right: 40px;
  transform: translate(0, -50%);
  top: 80.8%;
  cursor: pointer;
}

#span-senha-login {
  position: absolute;
  right: 40px;
  transform: translate(0, -50%);
  top: 70%;
  cursor: pointer;
}

.fa {
  font-size: 20px;
  color: #0a7273;
}

.input-with-icon {
  display: flex;
  align-items: center;
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 10px; /* Ajuste conforme necessário */
  transform: translateY(-50%);
  cursor: pointer;
}

@media screen  and (max-width: 500px)
{
    #coluna{
        flex-wrap: wrap ;
    }
    #genero{
        row-gap: 15px;
    }
    #opcao-genero{
        row-gap: 15px;
    }
    
}
